.logo-container {
    padding-top: 5%;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #c00025;
    width: 450px;
    height: 750px;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
    padding-left: 2%;
    margin: 0 auto;
}

.display {
    margin: 0 0 20px 0;
    height: 50px;
    width: 400px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
    padding-top: 4%;
    overflow: hidden;
  }

 .app {
     display: flex;
     justify-content: space-around;
     width: 100%;
 }
/* operators */
 .lightBlue-btn {
     background: #4f94cd;
     color: #ffffff;
    margin: 5px;
    padding: 15px;
    font-size: 25px;
    height: 50px;
    width: 50px;
    border: 1px solid darkgray;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
     
 }
/* numbers */
 .darkBlue-btns {
     background: #045699;
     color: #ffffff;
    margin: 5px;
    padding: 15px;
    font-size: 25px;
    height: 50px;
    width: 50px;
    border: 1px solid darkgray;
    border-radius: 50%;
    
 }
/* specials */
 .mediumBlue-btn {
    background : #0271cc;
    color: #ffffff;
    margin: 5px;
    padding: 15px;
    font-size: 25px;
    height: 50px;
    width: 50px;
    border: 1px solid darkgray;
    border-radius: 50%;
    
 }

.numbers {
    width: 250px;
    padding: 5px;
}





